Repository Kajabi/sage, pull requests merged in 2020-11, with the labels that each got.

#505 Copy adjustments / typo fixes
  app/views/pages/index.html.erb
  app/views/pages/panels_cards.html.erb
  app/views/pages/ux_values.html.erb
Labels: bug :space_invader:

#510 Fix busted Dropdown Search attr
  lib/sage_rails/app/views/sage_components/_sage_dropdown.html.erb
Labels: bug :space_invader:, priority

#514 Added title_tag attr to Sage Form Section
  app/helpers/objects_helper.rb
  app/views/examples/objects/form_section/_markup.html.erb
  app/views/examples/objects/form_section/_preview.html.erb
  app/views/examples/objects/form_section/_props.html.erb
  app/views/examples/objects/form_section/_rules_do.html.erb
  lib/sage-frontend/stylesheets/system/patterns/objects/_form_section.scss
  lib/sage_rails/app/sage_components/sage_form_section.rb
  lib/sage_rails/app/views/sage_components/_sage_form_section.html.erb
Labels: RAILS :exclamation:

#500 Added Sage Rails Popover
  app/helpers/objects_helper.rb
  app/views/examples/objects/page_heading/_preview.html.erb
  app/views/examples/objects/popover/_preview.html.erb
  app/views/examples/objects/popover/_props.html.erb
  app/views/examples/objects/popover/_rules_do.html.erb
  app/views/examples/objects/popover/_rules_dont.html.erb
  lib/sage-frontend/javascript/system/index.js
  lib/sage-frontend/javascript/system/init.js
  lib/sage-frontend/javascript/system/popover.js
  lib/sage-frontend/stylesheets/system/index.scss
  lib/sage-frontend/stylesheets/system/patterns/objects/_popover.scss
  lib/sage_rails/app/sage_components/sage_page_heading.rb
  lib/sage_rails/app/sage_components/sage_popover.rb
  lib/sage_rails/app/views/sage_components/_sage_page_heading.html.erb
  lib/sage_rails/app/views/sage_components/_sage_popover.html.erb
Labels: RAILS :exclamation:

#522 Add reset button to search rails component
  app/views/examples/elements/search/_preview.html.erb
  app/views/examples/elements/search/_props.html.erb
  lib/sage-frontend/javascript/system/index.js
  lib/sage-frontend/javascript/system/init.js
  lib/sage-frontend/javascript/system/search.js
  lib/sage-frontend/stylesheets/system/patterns/elements/_search.scss
  lib/sage_rails/app/sage_components/sage_search.rb
  lib/sage_rails/app/views/sage_components/_sage_search.html.erb
Labels: RAILS :exclamation:

#538 Added sage_page_heading_intro back to Sage Page Heading
  lib/sage_rails/app/views/sage_components/_sage_page_heading.html.erb
Labels: RAILS :exclamation:

#539 Sage Search followup
  lib/sage-frontend/javascript/system/search.js
  lib/sage_rails/app/views/sage_components/_sage_search.html.erb
Labels: RAILS :exclamation:

#530 Jcm icons
  app/views/pages/icon.html.erb
  lib/sage-frontend/stylesheets/docs/_icon.scss
Labels: on hold :warning:

#542 Updated the hover color for the subtle secondary button
  lib/sage-frontend/stylesheets/system/patterns/elements/_button.scss
Labels: RAILS :exclamation:

#544 Update help link until popover content is available
  app/views/examples/objects/page_heading/_preview.html.erb
  lib/sage_rails/app/views/sage_components/_sage_page_heading.html.erb
Labels: RAILS :exclamation:
